﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="View.ascx.cs" Inherits="NRNA.Modules.HeadLinesModule.View" %>
<asp:Literal ID="lblMsg" runat="server"></asp:Literal> 
<asp:PlaceHolder ID="phViewControl" runat="server" />
